* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: "Roboto",sans-serif;
  }
  
  ul {
	margin: 0;
	padding: 0;
	font-family: "Roboto",sans-serif;
  }
  
  ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Roboto",sans-serif;
  }
  
  a {
	text-decoration: none;
	color: #05386B;
	transition: 0.4s;
	font-family: "Roboto",sans-serif;
  }
  
  a:hover {
	text-decoration: none;
	color: #05386B;
  }
  
  h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-family: "Roboto",sans-serif;
  }
  
  body {
	position: relative;
	font-family: "Roboto",sans-serif;
  }
  
  p {
	margin: 0;
	padding: 0;
	color: #323232;
	font-family: "Roboto",sans-serif;
  }
  
  #header_top .header_top_container {
		background: #4F6228;
		padding: 5px 30px;
    height: 44px;
  }
  
  #header_top .header_top_container .logoarea i {
	color: #fff;
	font-size: 25px;
  }
  
  #header_top .header_top_container .right_style_chose ul li {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	margin-left: 20px;
	cursor: pointer;
	font-size: 20px;
  }
  
  #header_top .header_top_container .right_style_chose ul .active {
	color: #DDD9C4;
  }
  
  #header_top.fix {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999999;
  }
  
  #header_top.fix .header_top_container {
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  }
  
  #header_search_area {
	padding: 10px 0px 10px 0px;
	background: #fff;
  }
  
  #header_search_area .header_search_area_container {
	padding: 13px 30px;
  }
  
  #header_search_area .header_search_area_container h3 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
  }
  
  #header_search_area .header_search_area_container form {
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
  }
  
  #header_search_area .header_search_area_container form .input_box {
	position: relative;
  }
  
  #header_search_area .header_search_area_container form .input_box input {
	width: 100%;
	border: 1px solid #ddd;
	padding: 12px 55px 12px 15px;
	font-weight: 500;
	font-size: 14px;
	border-radius: 2px;
  }
  
  #header_search_area .header_search_area_container form .input_box input:focus::placeholder {
	color: transparent;
  }
  
  #header_search_area .header_search_area_container form .input_box button {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	background: transparent;
	border: none;
	border-left: 1px solid #ddd;
	padding: 0px 15px;
	border-radius: 0px 2px 2px 0px;
	outline: none;
  }
  
  #header_search_area .header_search_area_container .style_name {
	margin-top: 10px;
  }
  
  #header_search_area .header_search_area_container .style_name p {
	font-weight: 400;
	font-size: 16px;
	color: #D5D5CA;
  }
  
  #simpleSearch {
    position: relative;
	height: 100%;
}

#searchInput {
	background-color: rgba(255,255,255,0.5);
    color: #000000;
    width: 100%;
    height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 5px 3.153846em 5px 0.4em;
    -webkit-box-shadow: inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px transparent;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 300;
    direction: ltr;
    -webkit-transition: border-color 250ms,box-shadow 250ms;
    -moz-transition: border-color 250ms,box-shadow 250ms;
    transition: border-color 250ms,box-shadow 250ms;
    -webkit-appearance: none;
	-moz-appearance: textfield;
  }
  
  #simpleSearch:hover #searchInput {
	border-color: #72777d;
  }
  
  #searchInput:focus,#simpleSearch:hover #searchInput:focus {
	outline: 0;
	border-color: #3366cc;
	-webkit-box-shadow: inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;
	box-shadow: inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;
  }
  
  #searchInput::-webkit-input-placeholder,#searchInput:-ms-input-placeholder,
  #searchInput::-moz-placeholder,#searchInput:-moz-placeholder,#searchInput::placeholder {
	color: #72777d;
	opacity: 1;
  }
  
  #searchInput::-webkit-search-decoration,#searchInput::-webkit-search-cancel-button,#searchInput::-webkit-search-results-button,#searchInput::-webkit-search-results-decoration {
	display: none;
  }
  
  #searchButton,#mw-searchButton {
	background-color: transparent;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    min-width: 28px;
    width: 2.153846em;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1.2125em;
    direction: ltr;
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }
  
  #searchButton {
	background: no-repeat center / 1.23076923em url(../img/search.svg?cd2021);
	opacity: 0.67;
  }

  #filter_name .filter_name_container {
	padding: 10px 30px;
	background: #92D050;
  }
  
  #filter_name .filter_name_container p {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: rgba(255,255,255,0.973);
  }
  
  #filter_name .filter_name_container p span {
	text-transform: uppercase;
  }

  #music_list_main_area .music_list_main_area_container {
	padding: 10px 30px;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #a4a4a4;
    padding: 10px 0;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .image_box img {
	object-fit: cover;
    object-position: 100% 0;
	height: 100px;
	width: 100px;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box {
	padding-left: 20px;
	position: relative;
	flex: 1;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .song_name h4 {
	font-weight: 600;
	font-size: 20px;
	color: #000000;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .geners ul li {
	font-size: 0;
  }

  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .geners ul li {
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
	color: #000000;
	margin-right: 5px;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .song_details p {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.5px;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .song_details p span {
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 7px;
	color: #5E6851;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .artist p {
	font-weight: 400;
	font-size: 15px;
	color: #F7CB4D;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .year_instoment ul li {
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	margin-right: 10px;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .year_instoment ul .year_song {
	color: #464444;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .year_instoment ul .instoment_song {
	color: #E0650F;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .song_main_language {
	position: absolute;
	right: 0;
	bottom: 0;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .song_main_language h4 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 17px;
	color: #5B5E60;
  }

  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .favorite_song {
	position: absolute;
	right: 12px;
	top: 0;
  }

  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .favorite_song .star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
}
#music_list_main_area .music_list_main_area_container .single_music_item .content_box .favorite_song .star:before {
   content: "\2606";
   position: absolute;
   visibility: visible;
   color: gold;
}
#music_list_main_area .music_list_main_area_container .single_music_item .content_box .favorite_song .star:checked:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .artist_song {
	margin-top: 13px;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .artist_song ul li {
	display: inline-block;
	background: #ddd;
	font-weight: 500;
	font-size: 13px;
	padding: 3px 20px;
	border-radius: 30px;
	margin-right: 5px;
	transition: 0.4s;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .artist_song ul li:hover {
	background: #92D050;
	color: #fff;
  }
  
  #music_list_main_area .music_list_main_area_container .single_music_item .content_box .artis_country h4 {
	font-size: 14px;
  }
  
  #music_list_main_area .music_list_main_area_container :last-child .single_music_item {
	border: none;
  }
  
  #footer_top .footer_top_container {
	padding: 10px 30px;
	background: #E26B0A;
  }
  
  #footer_top .footer_top_container .footer_top_content h3 {
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
  }
  
  #footer .footer_container {
	padding: 25px 30px;
	background: #4F6228;
  }
  
  #footer .footer_container i {
	font-size: 40px;
	color: #fff;
  }
  